@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Grenze+Gotisch&family=Hubballi&family=Lato&family=Manrope:wght@300&family=Open+Sans&family=Poppins:wght@200;300&family=Roboto:wght@300;400&family=Sansita+Swashed:wght@300&family=Work+Sans:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-thumb{
    background-color: blueviolet;
    border-radius: 1rem;
}
body{
    overflow-x: hidden;
    font-family: 'Manrope', sans-serif;
}
.header{
    margin-bottom:1rem;
    width:100vw;
    text-align: center;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    height: 100%;
    width:100%;
    background-color: rgb(243, 230, 255);
    /* flex-direction: column; */
    /* border:2px solid black; */
    margin: auto;
    padding-bottom: 1rem;
}
.textarea{
    width:100vw;
    text-align: center;
}
.textarea textarea{
    width:50vw;
    height: 40vh;
    resize:none;
    border-radius:1.2rem;
    border:none;
    outline:none;
    padding:0.8rem;
    font-size:1.23rem;
}
.buttons{
    text-align: center;
    width:100vw;
}
.btn{
    margin:1rem;
    border:none;
    outline:none;
    height:3rem;
    width:7rem;
    border-radius:0.8rem;
    background-color: rgb(163, 64, 255);
    color:white;
    font-size: 1rem;
    cursor: pointer;
}
.wac{
    margin-bottom:0.5rem;
    /* border:2px solid red; */
    padding:0.3rem;
    border-radius:0.5rem;
    width:100vw;
    text-align: center;
}
.w_p{
    font-size:1.2rem;
    font-weight: 800;
}
.minutes_para{
    margin-bottom:0.5rem;
    /* border:2px solid red; */
    padding:0.3rem;
    border-radius:0.5rem;
    width:100vw;
    text-align: center;
}
.minutes_para{
    font-size:1.2rem;
    font-weight: 800;
}
.whole_preview{
    position: relative;
    padding:3rem;
}
.preview{
    border:none;
    outline: none;
    height: 40vh;
    width:50vw;
    padding:1rem;
    margin: auto;
    border-radius:1.3rem;
    background-color: white;
    margin-top: 0rem;
    overflow:scroll;
    position: relative;
    color:black;
}
.preview_header{
    position: absolute;
    top:10px;
    left:25vw;
}
.preview_para{
    word-spacing: 0.8rem;
    font-size: 1.1rem;
}

@media (max-width:1000px) {
    .textarea textarea{
        height: 30vh;
    }
    .preview{
        width:80vw;
        height: 30vh;
    }
    .textarea textarea{
        width:80vw;
    }
    .preview_header{
        position: absolute;
        top:10px;
        left:12vw;
    }
}
@media (max-width:420px) {
    
}

.darkBackground{
    background-color: black;
}